html {
  /* position: relative; */
}

body {
  min-height: 100vh;
  margin: 0;
  display: grid;
}

form {
  width: 100%;
  background-color: beige;
  padding: 1rem 0.5rem;
  box-sizing: border-box;
  display: flex;
  gap: 1rem;
  flex-flow: row wrap;
}

input {
  width: 100%;
}

img {
  background-color: #c3d08b;
  padding: 16px;
  margin: 16px;
}

.container {
  background-color: #f9cc9d;
  width: fit-content;
  align-self: center;
  display: flex;
  justify-content:  center;
}

.input-inner {
  display: flex;
  gap: 0.25em;
}